#root {
  width: 100%;
}

.konteiner {
  display: flex;
  justify-content: center;
  align-items: center;
  height:99vh;
  width:100%;
}

.cs-message-input__content-editor {
	text-align: left !important;
}

.cs-main-container {
  border-radius: 5px;
}

.cs-message__html-content {
  text-align: left;
}

.scrollbar-container {
  max-width: 14440px !important;
}